@font-face {
    font-family: 'icons';
    src: url(../icon.ttf);
}

:root {
    /* Bacground Colors */
    --bg-body: #1D232A;
    --bg-header: #1D232A;
    --bg-mobileHeader: #15191C;
    --bg-sideMenu: #15191C;
    --bg-sideMenu--active: #2d3033;
    --bg-dashboard: #222c33;
    --bg-card1: #222a30;
    --bg-card2: #232e33;
    --bg-card3: #27333a;
    --bg-card4: #243037;
    --bg-button: #2c3940;
    
    /* Texts/Fonts colors */
    --color-text: #FFFFFF;
    --color-altText: #95999C;
    --color-link: #95999C;

    /* Box-Shadow */
    --color-shadow: 0px 4px 4px rgba(0, 0, 0, 0.16);

    /* Font-families */
    --font-default: 'Open Sans', 'icons', sans-serif;

    /* Icons values */
    --icon-home: "\e900";
    --icon-pencil: "\e905";
    --icon-image: "\e90e";
    --icon-book: "\e91f";
    --icon-copy: "\e92c";
    --icon-paste: "\e92d";
    --icon-tag1: "\e935";
    --icon-tag2: "\e936";
    --icon-clock: "\e94e";
    --icon-floppyDisk: "\e962";
    --icon-database: "\e964";
    --icon-config: "\e994";
    --icon-pieChart: "\e99a";
    --icon-stats: "\e99b";
    --icon-trophy: "\e99e";
    --icon-coffe: "\e9a2";
    --icon-bin: "\e9ad";
    --icon-clipboard: "\e9b8";
    --icon-list1: "\e9ba";
    --icon-list2: "\e9bb";
    --icon-link: "\e9cb";
    --icon-contrast: "\e9d5";
    --icon-info: "\ea0c";
    --icon-terminal: "\ea81";
    --icon-mail: "\ea83";
    --icon-github: "\eab0";
    --icon-cancelCircle: "\ea0d";
    --icon-circleUp: "\ea41";

    /* Message settings */
    --message-position: flex-end; 
}

* {
    color: var(--color-text);
    font-family: var(--font-default);
}


body {
    background-color: var(--bg-body);
    font-family: var(--font-default);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

.header {
    display: grid;
    column-gap: 32px;
    grid-template-columns: 1fr auto;
    background-color: var(--bg-header);
    padding: 16px 60px;
    height: 60px;
    box-sizing: border-box;
    grid-column: 2;
    box-shadow: var(--color-shadow);
}

.header__theme::before {
    content: var(--icon-contrast);
    font-size: 24px;
}

.header__menu {
    display: none;
}

.header__message {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 8px;
    align-items: center;
    justify-self: var(--message-position);
    color: var(--color-altText);
    padding: 8px 4px;
}

.side-menu {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-sideMenu);
    width: 200px;
    height: 100%;
    position: absolute;
    left: -100vw;
    transition: 0.35s;
    z-index: 99;
    position: static;
    grid-column: 1;
    grid-row: 1 / span 2;
}

.side-menu--active {
    left: 0;
    transition: 0.25s;
}

.side-menu__image {
    border-radius: 50%;
    align-self: center;
    width: 110px;
    padding: 16px;
}

.side-menu__links {
    height: 64px;
    color: var(--color-link);
    padding-left: 64px;
    display: flex;
    align-items: center;
}

.side-menu__links::before {
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;
}

.side-menu__link--home::before {
    content: var(--icon-home);
}
.side-menu__link--storage::before {
    content: var(--icon-database);
}
.side-menu__link--settings::before {
    content: var(--icon-config);
}
.side-menu__link--about::before {
    content: var(--icon-info);
}

.side-menu__link--active {
    background-color: var(--bg-sideMenu--active);
    color: var(--color-text);
    padding-left: 60px;
    border-left: 4px solid #FFF;
}

.main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.dashboard {
    margin: 1.65em 1em;
    width: 73.5%;
    background-color: var(--bg-dashboard);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: 15px;
}

.dashboard--container{
    display: flex;
    flex-direction: column;
}

.dashboard--header{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.dashboard--day{
    font-weight: 500;
    font-size: 1.25em;
    width: 12.5%;
    text-align: center;
}

.dashboard--day__weekday{
    padding: 1.5em 0;
    transition: 0.2s;
}

.dashboard--day__weekday:hover{
    cursor:default;
    box-shadow: var(--color-shadow);
}

.dashboard--day__weekday:nth-child(1n){
    background-color: var(--bg-card1);
}

.dashboard--day__weekday:nth-child(2n){
    background-color: var(--bg-card2);
}

.dashboard--day__weekday:first-child{
    border-radius: 15px 0 0 0;
}

.dashboard--day__weekday:last-child{
    border-radius: 0 15px 0 0;
}

.dashboard--footer{
    align-self: center;
}

.dashboard--body{
    justify-content: space-between;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    order: 1;
}

.dashboard--body:nth-child(2n){
    background-color: var(--bg-card3);
}

#first {
    order: 1;
}

.dashboard--day{
    transition: 0.2s;
}

.dashboard--body .dashboard--day:hover{
    cursor:text;
    background-color: #ffffff1e;
    box-shadow: var(--color-shadow);
}

.dashboard--body .dashboard--day__time:hover{
    cursor:default;
    background-color: transparent;
    box-shadow: var(--color-shadow);
}

.dashboard--day__time{
    display: flex;
    justify-content: space-between;
}

.dashboard--day__time div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.dashboard--day__time__button{
    padding: 5px 15px 0 15px;
    width: 100%;
    font-size: 1em;
    line-height: 1em;
    color: var(--color-altText);
    transition: 0.3s;
    font-weight: 700;
    font-family: 'Fascinate', cursive;
    /*font-family: 'Lora', serif;*/
}

.dashboard--day__time__button:hover{
    cursor: pointer;
    background-color: #ffffff1e;
    box-shadow: var(--color-shadow);
    color: var(--color-text);
}

.dashboard--day__time__button:active{
    background-color: #ffffff42;
}

/*
.dashboard--day__time__up::before{ 
    content: var(--icon-circleUp); 
}
*/

.dashboard--day__time__delete{ 
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;;
    padding: 0px 15px 5px 15px;
}
.dashboard--day__time__down{   
    transform: rotate(180deg);
}

.dashboard--day__time .dashboard--day__input:hover{
    cursor:text;
    background-color: #ffffff1e;
}

.dashboard--day__input{
    width: 90%;
    margin: 0 5%;
    border: none;
    padding: 1.25em 0;
    font-size: 1em;
    background-color: transparent;
    word-wrap:break-word;
    text-align: center;
}

.dashboard--footer__button, .tasks--footer__button, .tasks--new__button{
    font-size: 2em;
    font-weight: 700;
    color: var(--color-altText);
    background-color: var(--bg-button);
    border-radius: 15px;
    padding: 0.2em 0.75em;
    margin: 0.5em;
    transition: 0.25s;
}

.dashboard--footer__button:hover, .tasks--footer__button:hover, .tasks--new__button:hover{
    cursor: pointer;
    background-color: #ffffff1e;
    box-shadow: var(--color-shadow);
    color: var(--color-text);
}

.dashboard--footer__button:active, .tasks--footer__button:active, .tasks--new__button:active{
    background-color: #ffffff42;
}

.save::before {
    content: var(--icon-floppyDisk);
    font-weight: 400;
}

.tasks{
    margin: 1.65em 1em;
    padding: 1em;
    width: 20%;
    border-radius: 15px;
    background-color: var(--bg-dashboard);
}

.tasks--title{
    font-size: 2.25em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.tasks--new, .tasks--main {
    background-color: var(--bg-body);
    border-radius: 7.5px;
    padding: 1em;
    display: flex;
    flex-direction: column;
}

.tasks--main--task {
    margin-bottom: 0.5em;
}

.tasks--main--task:last-child {
    margin-bottom: 0;
}

.tasks--main--task__title{
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0.5em;
}

.tasks--main--task__item{
    margin: 0.35em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.tasks--main--task__item__input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 1.5em;
    width: 1.5em;
    background-color: #ffffff0c;
    border-radius: 5px;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 1.2em;
    padding-bottom: 0.15em;
}

.tasks--main--task__item__input[type="checkbox"]:hover{
    background-color: #ffffff2b;
}

.tasks--main--task__item__input[type="checkbox"]:checked {
    background-color: #00b4008c;
}
    
.tasks--main--task__item__input[type="checkbox"]::after{
    content: "x";
    display: none;
}

.tasks--main--task__item__input[type="checkbox"]:checked:after {
    display: block;
}

.tasks--main--task__item__label{
    margin-left: 0.25em;
    font-size: 1.15em;
}

.tasks--footer {
    text-align: center;
    margin-top: 1em;
}

.tasks--footer__new{
    text-align: start;
}

.tasks--new {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.tasks--new--tasks__item, .tasks--new--name, .tasks--new--repeat{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: baseline;
    margin: 0.5em 0;
}

.tasks--new input {
    background-color: #ffffff17;
    padding: 0.25em;
    margin-left: 0.5em;
    border-radius: 7.5px;
    width: 100%;
}

.tasks--new--tasks__label, .tasks--new--name__label{
    margin-left: 0.25em;
    font-size: 1.15em;
}

.tasks--new__add{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks--new__add--btn{
    font-weight: 400;
    font-size: 2em;
    font-weight: 600;
    width: fit-content;
    margin: 0.5em 0.5em 0.5em 0;
    padding: 0em 1em;
    text-align: center;
}

.tasks--new--repeat__title{
    margin-left: 0.25em;
    font-size: 1.15em;
}

.tasks--new--repeat__select{
    margin-left: 0.25em;
    background-color: #ffffff23;
    font-size: 1em;
    border-radius: 5px;
    padding: 0.1em;
}

.tasks--new--repeat__select option{
    color: #15191C;
}

.tasks--new__button--create{
    font-size: 2em;
    font-weight: 500;
}